---
layout: default 
---

<!-- cover -->

<h1>{{ site.title }}</h1>
<h3>by {{ site.author.name }}</h3>

<br/>

<!-- table of contents -->

<div class='toc'>

Sadrzaj:

<ul>
{% for chapter in site.chapters %}
  <li>
    <a href="#{{ chapter.title }}">{{ chapter.title }}</a>
  </li>
{% endfor %}
</ul>

</div>


<!-- chapters -->

{% for chapter in site.chapters %}

<div class='chapter' id="{{ chapter.title }}">
  <h2>{{ chapter.title }}</h2>

  {{ chapter.content }}
</div>

{% endfor %}

<br/>
<a href="http://dankokozar.com/" target="_blank">&copy; 2016-2019 by Danko Kozar</a>
<br/><br/>
